img{
    width: 100%
}

header{
    height: 150px;
    background-color: #009688;
}

.ms-container-vh{
    height: calc(100vh - 150px);
    background-color: #D9DBD4;
}

.ms-chat{
    margin-top: -110px;
    position: fixed;
    left: 7%; 
    height: 500px;   
}

.user-img{
    width: 50px;
    height: 50px;
}

.ms-color-grey{
    color: #B1B1B1;
}

.ms-contact-row{
    border: 2px solid #D6D6D6;
    background-color: #EAEAEA;
}

.ms-notification-logo{
    background-color: white;
    color: #8EDAFC;
    width: 55px;
    height: 55px;
}


.notification-sctn{
    background-color: #8EDAFC;
}

.ms-search-sctn{
    background-color: #FAFAFA;
}

.height-max{
    height: 100%;
}

.ms-btn{
    width: 100%;
    border: none;
    color: #B6B8BA;
    cursor: pointer;
    border: 1px solid #D6D6D6;
}

.ms-search{
    width: 100%;
    height: 100%;
    border: 1px solid #D6D6D6;
}

.contact-img{
    width: 70px;
    height: 70px;
}

.ms-chatbox{
    background-image: url(./mine.jpg);
    height: 431px;
    
}

.active-contact{
    background-color: #E9EBEB;
}

.ms-pb{
    padding-bottom: 60px;
}

.ms-message{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 30%;
    margin-bottom: 10px;
}

.sent{
    background-color: #D5F9BA;
    display: flex;
    justify-content: start;
}

.ms-cursor-pointer{
    cursor: pointer;
}

