
/*-------------
   GENERAL
--------------- */
img{
    width: 100%
}

/*-------------
    LAYOUT
--------------- */

.background-top{
    height: 15%;
    background-color: #009688;
}

.background-bottom{
    height: 85%;
    background-color: #D9DBD4;
}

.ms-container-vh{
    height: 100vh;
    width: 100%;
    position: relative;
}

.chat-container{
    width: 75%;
    height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
}

.ms-col-right{
    width: 60%;
    flex-grow: 0;
    flex-shrink: 0;
}

.ms-col-left{
    width: 40%;
    flex-grow: 0;
    flex-shrink: 0;
}

/*-------------
    USER BAR
--------------- */

.user-img{
    width: 50px;
    height: 50px;
}

.ms-color-grey{
    color: #B1B1B1;
}

.ms-contact-row{
    border: 2px solid #D6D6D6;
    background-color: #EAEAEA;
}

/*------------------
    NOTIFICATIONS
------------------- */

.ms-notification-logo{
    background-color: white;
    color: #8EDAFC;
    width: 55px;
    height: 55px;
}


.notification-sctn{
    background-color: #8EDAFC;
}

/*------------------
    SEARCH SECTION
------------------- */

.ms-search-sctn{
    background-color: #FAFAFA;
}

.ms-btn{
    width: 100%;
    border: none;
    color: #B6B8BA;
    cursor: pointer;
    border: 1px solid #D6D6D6;
}

.ms-search{
    width: 100%;
    height: 100%;
    border: 1px solid #D6D6D6;
}

.contact-img{
    width: 70px;
    height: 70px;
}

.ms-chatbox{
    background-image: url(./mine.jpg);
    overflow-y: auto;
    flex-grow: 0;
    flex-shrink: 0;
}

/*------------
    UTILITY
-------------- */


.height-max{
    height: 100%;
}

.active-contact{
    background-color: #E9EBEB;
}

.ms-pb{
    padding-bottom: 60px;
}

.ms-message{
    padding: 10px;
    border-radius: 5px;
    background-color: white;
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    width: 30%;
    margin-bottom: 10px;
}

.sent{
    background-color: #D5F9BA;
    display: flex;
    justify-content: start;
}

.ms-cursor-pointer{
    cursor: pointer;
}

.ms-chatbox-container{
    overflow-y: auto;
}
